__pycache__
.venv
.env
node_modules
.pytest_cache
*.pyc
.DS_Store
dist/

# Android specific (adding some common ones since it's an Android project)
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
