<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SZAKDOLGOZAT"
        tools:targetApi="31">


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@reminder/default_notification_channel_id" />

        <receiver
            android:name=".notification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notification.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />     <!--Ennek true-nak kell lennie -->

        <activity
            android:name=".UI.food.FoodUploadActivity"
            android:exported="false" />
        <activity
            android:name=".UI.food.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".UI.profile.DailyGoalsSzerkesztes"
            android:exported="false" />



        <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>


        <activity
            android:name=".UI.profile.ProfileSzerkesztes"
            android:exported="false" />
        <activity
            android:name=".UI.profile.Profile"
            android:exported="false" />
        <activity
            android:name=".UI.auth.Register"
            android:exported="true" />
        <activity
            android:name=".UI.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".UI.auth.Login"
            android:exported="true" />
        <activity
            android:name=".UI.main.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>